<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if config.site_description %}
    <meta name="description" content="{{ config.site_description }}">{% endif %}
    {% if config.site_author %}
    <meta name="author" content="{{ config.site_author }}">{% endif %}
    {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
    <link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">

    {% block htmltitle %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
    <link href="{{ 'css/bootstrap-custom.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/base.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'css/cinder.min.css'|url }}" rel="stylesheet">
    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS feed of created content"
        href="{{ config.site_url }}feed_rss_created.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS feed of updated content"
        href="{{ config.site_url }}feed_rss_updated.xml">
    <!-- Link me -->
    <link href="https://github.com/sieboldianus" rel="me">

    {% if config.theme.highlightjs is defined and config.theme.highlightjs is sameas false %}

    {% else %}
    {% if config.theme.colorscheme %}
    <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/{{ config.theme.colorscheme }}.min.css">
    {% else %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/github.min.css">
    {% endif %}
    {% endif %}

    {%- for path in config['extra_css'] %}
    <link href="{{ path|url }}" rel="stylesheet">
    {%- endfor %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

    {% block extrahead %} {% endblock %}
    <style type="text/css">
        /* Fix details summary arrow
       not shown in Firefox
       due to bootstrap
       display: block;
     */
        details {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
            background-color: #FCFDFF;
            border-left-color: #428bca;
        }

        summary {
            display: list-item;
            outline: none;
        }
    </style>
</head>

<body{% if page and page.is_homepage %} class="homepage" {% endif %} style="overflow-y:scroll">

    {% include "nav.html" %}

    <div class="container">
        {% block content %}
        {% if page.meta.disable_toc %}
        <div class="col-md-12" role="main">{% include "content.html" %}</div>
        {% else %}
        <div class="col-md-3">{% include "toc.html" %}</div>
        <div class="col-md-9" role="main">{% include "content.html" %}</div>
        {% endif %}
        {% endblock %}
    </div>

    {% if not config.theme.disable_footer %}
    <footer class="col-md-12 text-center">
        {% block footer %}
        {% if not config.theme.disable_footer_except_revision %}
        <hr>
        <p>{% if config.copyright %}
            <small>{{ config.copyright }}</small><br>
            {% endif %}
            <small>Built with <a href="http://www.mkdocs.org/">MkDocs</a>.
                <a style="color: inherit;" href="/feed_rss_created.xml"><i class="fas fa-rss"></i></a></small>
        </p>
        {% endif %}
        {% endblock %}
    </footer>
    {% endif %}


    {%- block scripts %}
    <script src="{{ 'js/jquery-1.12.4.min.js'|url }}"></script>
    <script src="{{ 'js/bootstrap-3.0.3.min.js'|url }}"></script>

    {% if config.theme.highlightjs is defined and config.theme.highlightjs is sameas false %}
    <!-- default is to include highlightjs -->

    {% else %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
    {% if config.theme.hljs_languages %}
    {%- for lang in config.theme.hljs_languages %}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/languages/{{lang}}.min.js"></script>
    {%- endfor %}
    {% endif %}
    <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}

    <script>var base_url = {{ base_url | tojson }}</script>
    {% if config.shortcuts %}
    <script>var shortcuts = {{ config.shortcuts | tojson }}</script>
    {% endif %}
    <script src="{{ 'js/base.js'|url }}"></script>
    {%- for path in config['extra_javascript'] %}
    <script src="{{ path|url }}"></script>
    {%- endfor %}
    {%- endblock %}

    {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
    {%- include "keyboard-modal.html" %}
    </body>

</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}