{% if page.meta.source %}
<div class="source-links">
    {% for filename in page.meta.source %}
    <span class="label label-primary">{{ filename }}</span>
    {% endfor %}
</div>
{% endif %}

{% if page.meta.title %}
<h1>{{ page.meta.title }}</h1>
{% if page.meta.sub %}
<p><i>{{ page.meta.sub }}</i></p>
{% endif %}
<p>Published: {{ page.meta.date_published }}, Revised: {{ page.meta.revision_date }}</p>
<hr />
{% endif %}

{{ page.content }}

{% if page.meta.comments %}
<hr>
<script src="https://giscus.app/client.js"
        data-repo="Sieboldianus/du.nkel.dev"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNzY3ODgyMTg="
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMzMDI0MTUw"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-theme="light"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
