html {
    scroll-padding-top: 70px;
}

body {
    padding-top: 70px;
}

p>img {
    max-width: 100%;
    height: auto;
}

ul.nav li.first-level {
    font-weight: bold;
}

ul.nav li.third-level {
    padding-left: 12px;
}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav>li>a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
}

.bs-sidebar .nav>li>a:hover,
.bs-sidebar .nav>li>a:focus {
    text-decoration: none;
    border-right: 1px solid;
}

.bs-sidebar .nav>.active>a,
.bs-sidebar .nav>.active:hover>a,
.bs-sidebar .nav>.active:focus>a {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none;
    /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}

.bs-sidebar .nav .nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav>.active>ul {
        display: block;
    }

    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }

    .bs-sidebar.affix {
        position: fixed;
        /* Undo the static from mobile first approach */
        top: 80px;
        max-height: calc(100% - 180px);
        overflow-y: auto;
    }

    .bs-sidebar.affix-bottom {
        position: absolute;
        /* Undo the static from mobile first approach */
    }

    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {

    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}


/* Added to support >2 level nav in drop down */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 00px;
}

/* Start Bootstrap Callouts CSS Source by Chris Pratt (https://codepen.io/chrisdpratt/pen/IAymB) MIT License*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}

.bs-callout h4 {
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #FA023C;
    /*modified from upstream default by Christopher Simpkins*/
}

.bs-callout-default h4 {
    color: #FA023C;
    /*modified from upstream default by Christopher Simpkins*/
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

/* End Bootstrap Callouts CSS Source by Chris Pratt */

/* Headerlinks */
.headerlink {
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline-block;
}

/* Admonitions */
.admonition {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #FCFDFF;
}

.admonition p:last-child {
    margin-bottom: 0;
}

.admonition code {
    border-radius: 3px;
}

.admonition+.admonition {
    margin-top: -5px;
}

.admonition.note {
    /* csslint allow: adjoining-classes */
    border-left-color: #428bca;
}

.admonition.warning {
    /* csslint allow: adjoining-classes */
    border-left-color: #f0ad4e;
}

.admonition.danger {
    /* csslint allow: adjoining-classes */
    border-left-color: #d9534f;
}

.admonition.info {
    /* csslint allow: adjoining-classes */
    border-left-color: #93C572;
}

.admonition-title {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.admonition.note>.admonition-title {
    color: #428bca;
}

.admonition.warning>.admonition-title {
    color: #f0ad4e;
}

.admonition.danger>.admonition-title {
    color: #d9534f;
}

.admonition.info>.admonition-title {
    color: #93C572;
}

.ascii-art {
    border: 0;
    background-color: transparent;
    font-family: monospace;
    white-space: pre;
    font-size: 1.8vmin;
    /*font-size: calc(5px + 5 * ((100vw - 200px) / 800));*/
    /* or try font-size: 1.2vmin as per Locke Lamora's answer */
}